#heading {

	background-color:#0099CC;
	color:white;
	height:100px;
	font-size:30px;
	padding-left:100px;
	padding-top:20px;
	background-image: url("Java-icon.png");
	background-repeat: no-repeat;
	background-position: 10px, 500px;
	background-size: 100px 100px;


}


#field {
	float:left;
	width: 380px;
	height:460px;
	background-color:#FF9966;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
		
}



#picture2 {
	background-image:url("thm-1-learn-java.jpg");
	background-repeat: no-repeat;
	width:100%;
	padding-left:600px;
	height:500px;
	background-color:#99FF99;	
}

#footer {
	
	
	background-color:#006699;
	height:80px;
	color:white;
	text-align:center;
	padding-top:20px;
	background-image: url("facebook-icon-logo-vector-400x400.png"),url("Twitter_logo_white.png"), url("Dakirby309-Simply-Styled-Gmail.ico");
	background-repeat: no-repeat;
	background-size: 40px;
	background-position:10px, 60px, 110px;
	clear:both;
	
}
